<div class="container text-center">
  <div class="d-flex">
  <span class="form-control me-2">sort by:
  <button class="btn btn-outline-success" type="button" (click)="sortByWarranty()">Warranty</button>
  <button class="btn btn-outline-success" type="button" (click)="sortByPrice()">Price</button>
    </span>
  </div>


  <div class="row">
    <div *ngFor="let inventory of sortedList ? sortedList : inventories" class="col-3">
      <div>
        <app-inventory-card *ngIf="inventory.id" [inventory]="inventory"
                            (deleteEvent)="deleteInventory(inventory.id)"></app-inventory-card>
      </div>
    </div>
  </div>
</div>

