<div class="card color form">
  <div class="card-body">
    <h2 class="card-title">{{ inventory?.name }}</h2>
    <div class="card-text container">
      <p>id: {{ inventory?.id }}</p>
      <p> price: {{ inventory?.price }}</p>
      <p>Warranty: {{ inventory?.yearsOfWarranty }} years</p>
      <p>purchased on: {{ inventory?.purchaseDate | date }}</p>
      <button *ngIf="!modify" (click)="modify=true" class="btn btn-primary">modify</button>
    </div>
  </div>
</div>
<div class="form" *ngIf="modify && inventory && inventoryForm">
  <form [formGroup]="inventoryForm">
    <div class="mb-3">
    <label for="name"  class="form-label">name: </label>
    <input id="name" type="text" formControlName="name" class="form-control"><br>
    </div>
    <div class="mb-3">
    <label for="purchase-date"  class="form-label">purchased on:</label>
    <input id="purchase-date" type="date" formControlName="purchaseDate" class="form-control"><br>
    </div>
    <div class="mb-3">
    <label for="price"  class="form-label">price: </label>
    <input id="price" type="number" min="0.01" formControlName="price" class="form-control"><br>
    </div>
    <div class="mb-3">
    <label for="warranty"  class="form-label">years of warranty</label>
    <input id="warranty" type="number" min="0" step="1" formControlName="yearsOfWarranty" class="form-control"><br>
    </div>
    <div class="flex">
    <button type="button" (click)="modify = false" class="btn btn-primary">close</button>
    <button type="button" (click)="modifyInventory()" [disabled]="inventoryForm.invalid" class="btn btn-primary">speichern</button>
    </div>
  </form>
</div>
