body{
  background-color: darkgray;
  color: aliceblue;
}

.color{  background-color: cadetblue!important;
}
.color a, p, h5, h2{ color: aliceblue!important;}

.form {
  margin: 10px auto;
  max-width: 400px;
  background-color: cadetblue;
  padding: 20px;
  border-radius: 20px;
  border: #4E8284 1px solid;
}

.card{
  background-color: cadetblue;
  margin-bottom: 30px;
  margin-top: 30px;
}

button{
  background-color: #7fc0c1 !important;
  border: #4E8284 solid 1px !important;
  color: aliceblue !important;
}

button:hover{
  background-color: aliceblue !important;
  color: cadetblue !important;
}
