<p>Create new inventory:</p>
<form [formGroup]="inventoryForm" (submit)="saveInventory()">
  <label for="name">name: </label>
  <input id="name" type="text" formControlName="name"><br>
  <label for="purchase-date">purchased on:</label>
  <input id="purchase-date" type="date" formControlName="purchaseDate"><br>
  <label for="price">price: </label>
  <input id="price" type="number" min="0.01" formControlName="price"><br>
  <label for="warranty">years of warranty</label>
  <input id="warranty" type="number" min="0" step="1" formControlName="yearsOfWarranty"><br>
  <button type="submit" [disabled]="inventoryForm.invalid">speichern</button>
</form>
